body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  color: #C1CCCC;
  font-family: 'Open Sans', sans-serif;
}

#content-root {
  margin: auto;
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#search-box-area {
  width: 100%;
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

#search-box-area input{
  padding: 10px 20px;
  width: 400px;
}

#search-box-area button{
  padding: 10px 20px;
  margin-left: 10px;
}

#recipe-list {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}

#recipe-list li {
  margin-bottom: 30px;
  width: 480px;
  min-height: 450px;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  border: #2B2B2B 1px solid;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #333;
  background-color: #1F1F1F;
}

.card-content {
  padding: 0 10px;
}

h2.card-header {
  margin: 10px;
  overflow: hidden;
  text-wrap-mode: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
}

.cooktube-video {
  width: 100%;
  height: 349px;
  border: none;
}

.card-footer {
  padding: 10px 10px;
  margin-top: auto;
  align-self: flex-end;
}